.BurgerIcon {
    width: 7vw;
    height: 7vw;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.BurgerIcon div {
    width: 90%;
    height: 0.8vw;
    background-color: #ffffff;
}

@media (min-width: 559px) {
    .BurgerIcon {
        display: none;
    }
}
