.container {
    padding: 40px 16px;
}

.titleStrip {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    margin-left: 30px;
}

.title {
    color: black;
    margin: 0 0 1em 0;
}
.flag {
    margin: 0 0 1em 0;
}
.photo {
    width: 100%;
    margin-top: 15px;
}
