.container {
    padding: 13vw 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleStrip {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    margin-left: 30px;
    width: 17vw;
}
.flag {
    margin: 0 0 2vw 0;
    font-size: 3.8vw;
}

.title {
    color: black;
    margin: 0 0 3vw 0;
    font-size: 5.5vw;
}

.paragraph {
    font-size: 4.3vw;
    margin: 1vw 0 6vw;
}
.photo {
    max-width: 100%;
    margin-top: 7vw;
    max-height: 80vw;
}

/* display this photo in 480px onwards */
.photoOnlyDesktop {
    display: none;
}
