.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 65vw;
    width: 40px;
    z-index: 3;
}

.bubble {
    width: 7px;
    height: 7px;
    background-color: rgb(209, 209, 208);
    border-radius: 50%;
    transition: all 0.4s linear;
}

.selected {
    width: 10px;
    height: 10px;
    background-color: rgb(245, 168, 26);
    border-radius: 50%;
}
