.Button {
    border: 1px solid #b8b8b8;
    width: 30vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    padding-bottom: 0.8vw;
    box-sizing: border-box;
    font-size: 4vw;
}

.arrow {
    width: 6vw;
}

@media (min-width: 768px) {
    .Button {
        width: 100px;
        height: 32px;
        padding-bottom: 2px;
        box-sizing: border-box;
        font-size: 14px;
    }
    .arrow {
        width: 16px;
    }

    .transparent {
        color: white;
        border: 1px solid white;
    }
}
