.container {
    position: relative;
    margin: 0 5vw;
}

.flag {
    font-size: 4vw;
    margin: 0;
}

.title {
    font-size: 6vw;
    margin: 2vw 0;
}

.background {
    width: 90vw;
    position: relative;
}

.slides {
    position: absolute;
    top: 15.5vw;
    right: 1vw;
}
