.container {
    flex-direction: column;
    width: 100vw;
    background-color: rgba(10, 32, 71, 0.95);
    display: none;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
}

.show {
    display: flex;
}

.navItems {
    margin: 0;
    padding: 0;
}

.navItem {
    text-align: end;
    margin: 35px;
    color: #ffffff;
    font-size: 18px;
}
.navItem a {
    text-decoration: none;
    color: #ffffff;
}

/* .active{

} */
