.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}
.title {
    color: #ffffff;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 100;
}
