.container {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 5vw 5vw;
    z-index: 4;
}
.title {
    height: 6vw;
    max-height: 30px;
}

@media (min-width: 768px) {
    .container {
        align-items: center;
        padding: 20px;
    }
}
